[Desktop Entry]
Encoding=UTF-8
Name=Content Manager
Name[fr]=Gestionnaire de contenu
Icon=slitaz-doc
Exec=tazweb --notoolbar http://localhost/cgi-bin/tinycm/index.cgi
Type=Application
Categories=Office;

