[Desktop Entry]
Encoding=UTF-8
Name=Content Manager
Name[fr]=Gestionnaire de contenu
Icon=slitaz-doc
Exec=browser http://localhost/tinycm/index.cgi
Type=Application
Categories=Office;

